.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    height: 90vh;
    width: 100%;
}

#pageHeading {
    padding: 20px;
}

#windowEntity {
    display: flex;
    flex-direction: column;
}

#Window {
    border: 1px solid black;
}

#simParams {
    width: 80%;
}

#paramsAndEntity{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#paramsAndEntity > * {
    margin-bottom: 5%;
}

#entityForm {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#entityForm > * {
    margin-top: 2%;
    padding: 2%;
}

#createPt {
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 4%;
}

.Button {
    padding: 6px;
    margin-bottom: 15px;

}

#params {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    width: 90%;
}

#params > * {
    margin: 3% 0%;
    padding: 4%;
}

.settingHeader {
    font-weight: bold;
    padding-top: 8px;
}

.settingDesc{
    margin-bottom: 8%;
}

#entityList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}


.entity {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 50%;
    padding: 2%;
    margin: 4px 0px;
    border-radius: 3px;
}

.entity:hover {
    background-color: grey;
}

.entity > * {
    margin-right: 6px;
}

.entityData {
    display: flex;
    flex-direction: column;
}

.del {
    border-radius: 4px;
    font-weight: bold;
}

@media screen and (min-width: 800px){
    #windowEntity {
        align-items: center;

    }


    #windowEntity > * {
        .settingHeader {
            padding-top: 0px;
            margin-top: 0px;
        }
    }

    #paramsAndEntity {
        width: 100%;
    }

    #entityForm{
        margin-top: 4%;
        width: 60%;
    }

    #entityForm >* {
        margin: 0%;
    }

    #entityList{
        width: 75%;
        margin-top: 5%;
    }


    .entity {
        border: #e1e1e1 solid 1px;
    }

    .del {
        padding: 2px 8px;
    }

    #createPt {
        margin-top: 4%;
    }

    #params {
        width: 60%;
    }
    #params > * {
        padding: 4%;
    }

}

@media screen and (min-width: 1280px){

    #windowEntity {
        margin-top: 5%;
        flex-direction: row;
        width: 80%;
        height: 60%;
        max-height: 60%;
        vertical-align: top;
    }

    #paramsAndEntity {
        flex-direction: row;
        margin-top: 5%;
        width: 60%;
    }

    #paramsAndEntity > * {
        margin: 3%;
    }

    #params {
        height: 100%;
    }

    #entityList{
        padding: 2%;
        margin-top: 0%;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
    }

}

@media screen and (min-width: 1440px){
    
    #entityList {
        height:87%;
        padding-top: 0%;
        width: 70%;
    }
}

@media screen and (min-width: 1920px) {
    #windowEntity {
        width: 60%;
        max-width: 60%;
        margin-top: 2%;
    }
    #entityList {
        height: 80%;
        width: 40%;
    }

    #paramsAndEntity {
        max-width: 50%;
    }
}
